
.point {
  stroke: #000;
  stroke-width: 1px;
/*  shape-rendering: crispEdges;*/
}

/*["#fff7f3","#fde0dd","#fcc5c0","#fa9fb5","#f768a1","#dd3497","#ae017e","#7a0177","#49006a"]*/

.enumerate {
  fill: #fff7f3;
}

.enumerate.line {
  stroke: #fff7f3;
}

.symbolic {
  fill: #fcc5c0;
}

.symbolic.line {
  stroke: #fcc5c0;
}

.symbolic.removal {
  fill: #f768a1;
}

.symbolic.removal.line {
  stroke: #f768a1;
}

.saturate {
  fill: #dd3497;
}

.saturate.line {
  stroke: #dd3497;
}

.saturate.removal {
  fill: #7a0177;
}

.saturate.removal.line {
  stroke: #7a0177;
}

.removal.line {
  fill: none;
  stroke-width: 10;
}

.outline {
  fill: none;
  stroke-width: 12;
  stroke: black;
}

.line {
  fill: none;
  stroke-width: 10;
}

.counting {
  display: none;
}

.counting.line {
  stroke: #ffffff;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

text {
  font: 10px sans-serif;
}
