text {
  font: 10px sans-serif;
}

.x.axis .tick text {
  font: 8px sans-serif;
}

.x.axis path,
.x.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.legend {
  fill: #FFF;
  stroke: #000;
}

.bar {
  fill: #7a0177;
}

.bar.R {
  fill: #fbb4b9;
}
